NODE_ENV=development
BASE_URL=localhost
PORT=3081

ISSUER_BASE_URL=your-auth0-issuer-base-url
CLIENT_ID=your-auth0-client-id
SECRET=your-auth0-client-secret

# Optional: Set a URI for your database connection.
# If not set, the application will use the individual database parameters below.
# DATABASE_URI=

DATABASE_HOST=localhost
DATABASE_PORT=27017
DATABASE_NAME=your-database-name
DATABASE_USERNAME=your-database-username
DATABASE_PASSWORD=your-database-password
