NODE_ENV=development

# Optional: Set a URI for your database connection.
# If not set, the application will use the individual database parameters below.
# DATABASE_URI=

DATABASE_HOST=localhost
DATABASE_PORT=27017
DATABASE_NAME=your-database-name
DATABASE_USERNAME=your-database-username
DATABASE_PASSWORD=your-database-password
